.analysis-page {
    height: 100%;
    width: 100%;
    .mask{
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.4);
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
    }
    .deckgl{
        width: 100%;
		height: 100%;
    } 
}

.ant-progress-text{
    color: #108ee9 !important;
}