.fold-panel {
  overflow: hidden;
  transition: height .3s ease-in-out;
  border: 1px solid #fff;
  border-radius: 5px;


  .fold-panel-entry {
    width: 100%;
    background-color: #fff;
    color: #111;
  }
  .fold-panel-expand {
    width: 100%;
    background-color: rgb(19, 19, 19);
    color: #fff;
  }
}
