.fold-panel {
  overflow: hidden;
  transition: height .3s ease-in-out, opacity .3s ease-in-out;
  border: 1px solid #fff;
  border-radius: 5px;
  background-color: black;


  .fold-panel-entry {
    width: 100%;
    background-color: #fff;
    color: #111;
  }
  .fold-panel-expand {
    width: 100%;
    color: #fff;
    overflow: hidden;
  }
}
