.popup-content-ctn{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    height: 500px;
    width: 400px;
    z-index: 1;

    .popup-top{
        height: 40%;
        width: 100%;

        .radar{
            float: left;
            height: 100%;
            width: 55%;
            border-width: 2px;
            border-color:gray;
            border-style: solid;
            border-radius: 5px;
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
        }

        .wordcloud{
            float: right;
            height: 100%;
            width: 45%;
            border-width: 2px;
            border-left: 0px;
            border-color:gray;
            border-style: solid;
            border-radius: 5px;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
        }
    }
    .popover::after {
        content: '';
        display: block;
        clear: both;
      }

    .popup-middle{
        display: flex;
        flex-direction: column;
        // justify-content: space-around;
        align-items: center;
        z-index: 1;
        height: 40%;
        width: 100%;
        margin-top: 5px;
        border-width: 2px;
        border-color:gray;
        border-style: solid;
        border-radius: 5px;

        .select{
            height: 100%;
            width: 100%;
            text-align: center;
        }

        .violinplot{
            padding-right: 2px;
            width: 100%;
            height: 100%;
        }
    }

    .popup-bottom{
        margin-top: 5px;
        width: 100%;
        height: auto;
        overflow-y: auto;
        border-width: 2px;
        border-color:gray;
        border-style: solid;
        border-radius: 5px;
    }
}