.fold-panel-slider-ctn {
  position: absolute;
  bottom: 0;
  overflow: hidden;
  border-radius: 5px;
  padding: 0px;
  background-color: #111;

  .fold-panel-slider-content {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .minor {
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
  }

  .fold-panel-slider-footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
  }

  .icon-animation {
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
    transition: bottom 0.5s ease-in;
  }
}
