// antd UI 组件库基础样式文件
@import '~antd/dist/antd.css';

// 字体样式外链
@font-face {
  font-family: 'title';
  src: url(./assets/font/douyuFont-2.otf);
}
@font-face {
  font-family: 'text';
  src: url(./assets/font/FengGuangMingRuiTi-2.ttf);
}

// 清除浏览器默认设置
* {
  margin: 0;
  padding: 0;
}

// 获取浏览器视口高度
body, html {
  height: 100%;
  font-size: 1vw;
}

// rem 布局参照值
html {
  font-size: 1vw;
}

// 设置浏览器滚动条 
::-webkit-scrollbar {width:5px;height:5px; position:absolute;}
::-webkit-scrollbar-thumb {background-coLor:#8afbfe}
::-webkit-scrollbar-track {background-coLor:#ddd}
