// antd UI 组件库基础样式文件
@import '~antd/dist/antd.css';

// 字体样式外链
@font-face {
  font-family: 'title';
  src: url(./assets/font/douyuFont-2.otf);
}

// 清除浏览器默认设置
* {
  margin: 0;
  padding: 0;
}

// 获取浏览器视口高度
body, html {
  height: 100%;
  font-size: 1vw;
}

// rem 布局参照值
html {
  font-size: 1vw;
}