.predict-layout {
  height: 100%;
  display: flex;
  transition: all .5s ease;

  .predict-main-content {
    height: 100%;
    flex: 1 1;
    position: relative;
    z-index: 0;
  }

  .predict-minor-content {
    height: 100%;
    border-left: 1px solid rgba(59, 255, 245, 0.589);
    z-index: 1;
    display: flex;
    flex-direction: column;

    .predict-reset-container {
      flex: 1 1;
    }

    .predict-map-3d-container {
      width: 100%;
      position: relative;
    }

    .predict-switch-button-container {
      display: inline;
      position: absolute;
      transform: translate(-50%, -50%);
    }
  }
}
