.ant-descriptions-title{
    font-size: 15px !important;
    line-height: 15px !important;
    align-items: center;
    position: relative !important;
    top:-50% !important;
    transform:translateY(50%) !important;
}
.ant-descriptions-item-label{
    width: auto !important;
    font-size: 5px !important;
    font-family:'Microsoft Yahei' !important;
    font-weight: bolder!important;
    border-width: 2px !important;
    text-align: center !important;
    // border-color: gray !important;
}

.ant-descriptions-item-content{
    width:60px !important;
    font-size: 5px !important;
    font-weight: bolder!important;
    font-family:'Microsoft Yahei' !important;
    border-width: 2px !important;
    text-align: center !important;
    // border-color: gray !important;
}

.ant-descriptions{
    overflow: auto !important;
}