.calendar-window-ctn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin: 0 0 0 110px;
    border: 0px solid white;
    border-radius: 10px;
    padding: 5px 15px;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
    color: rgb(168, 154, 154);
    .slider-title {
        width: 20px;
        height: 100%;
        padding-left: 15px;
        display: flex;
        align-items: center;
        z-index: 2;
    }
    .slider-controller {
        width: 30px;
        height: 150px;
        padding-left: 10px;
        padding-bottom: 10px;
    }
    .week-hour-calendar {
        padding-left: 20px ;
        width: 500px;
        height: 100%;
    }
    .reload-button {
        margin-top: 5px;
        height: 100%;
        z-index: 2 
    }
    .statistics-daybar {
        width: 500px;
        height: 100%;
    }
      
    .statistics-weekbar {
        width: 280px;
        height: 100%;
        padding-left: 10px;
    }
}

