.sider {
  position: absolute;
  top: 5px;
  bottom: 5px;
  z-index: 1;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.9);
  transition: left 0.5s, right 0.5s;

  .sider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
  }
}