.ant-descriptions-item-label{
    font-size: 5px !important;
    font-family:'Microsoft Yahei' !important;
    font-weight: bolder!important;
    border-width: 2px !important;
    padding: 10px 0px 10px 0px !important;
}

.ant-descriptions-item-content{
    font-size: 5px !important;
    font-weight: bolder!important;
    font-family:'Microsoft Yahei' !important;
    border-width: 2px !important;
    padding: 10px 0px 10px 5px !important;
}

.ant-drawer-content {
    /*border-radius: 5px 5px 5px 5px !important;*/
}
/*修改表头文字*、背景颜色*/
.ant-table-thead > tr >th{
    color:rgba(250,235,215,0.2) !important;
    font-size: 15px !important;
    font-family:'Microsoft Yahei' !important;
    font-weight: bolder!important;
    background-color: rgba(250,235,215,0.3) !important;
    padding: 5px 0 5px 0 !important;
    border-color: white !important;
    border-width: 3px !important;
}

/*修改列表文字、背景颜色*/
.ant-table-tbody > tr >td{
    background: rgba(250,235,215,0.3) !important;
    padding:0px 0px 0px 4px !important;
    border-color: white !important;
    border-width: 3px !important;
}


