.shopping-drawer-ctn {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;

  .shopping-drawer-header {
    h1 {
      color: #fff;
      font-size: 15px;
      font-weight: bold;
    }
  }

  .shopping-drawer-main {
    border: 1px solid #fff;
    margin-top: 10px;

    overflow-x: auto; // 滚动设置
    ::-webkit-scrollbar {
      display: none; /* Chrome Safari */
    }
    scrollbar-width: none; /* firefox */
    -ms-overflow-style: none; /* IE 10+ */
  }
}
