.shopping-cart-show {
  visibility: visible;
}

.shopping-cart-hidden {
  visibility: hidden;
  position: absolute;
  left: -9999rem;
}

.shopping-cart-ctn {
  display: flex;
  align-items: center;

  width: 100%;
  height: 96%;
  border: 0px solid white;
  background-color: rgba(0, 0, 0, 0.8);
  color: rgb(252, 250, 250);

  overflow-x: auto; // 滚动设置
  ::-webkit-scrollbar {
    display: none; /* Chrome Safari */
  }
  scrollbar-width: none; /* firefox */
  -ms-overflow-style: none; /* IE 10+ */
}