.single-card-ctn {
  position: relative;
  border: 1px solid #fff;
  box-sizing: border-box;

  .button-group {
    position: absolute;
    right: 0;
    top: 0;
  }

  img {
    cursor: pointer;
  }
}

.single-card-ctn-active {
  border: 3px solid rgb(0, 247, 255);
}
