.single-card-ctn {
  position: relative;
  border: 1px solid #fff;
  box-sizing: border-box;

  font-size: 10px;

  .button-group {
    position: absolute;
    right: 0;
    top: 0;

    padding: 0 2px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: rgba(0, 0, 0, 0.4);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
  }

  img {
    cursor: pointer;
  }
}

.single-card-ctn-active {
  border: 3px solid #00f7ff;
}
