.chart-box-parallel-ctn {
  width: calc(100% - 10px);
  margin: 5px;
  padding: 5px;
  overflow: hidden;
  float: left;
  font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif; // 字体样式
  

  .title-bar {
    float: left;
    width: 100%;
    height: 25px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;

    .ant-select {
      color: #fff !important;
    }

    .text {
      display: block;
      font-size: 16px;
      // 省略文字
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      // 指针样式
      cursor: pointer;
    }

    .func-btns {
      display: inline-block;
      line-height: 25px;
    }
  }

  .chart-parallel-content {
    float: left;
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 1;
  }

  // 图表显示/隐藏动画
  .chart-parallel-enter {
    opacity: 0;
  }
  .chart-parallel-enter-active {
    opacity: 1;
    transition: all 300ms;
  }
  .chart-parallel-enter-done {
    opacity: 1;
  }
  .chart-parallel-exit {
    opacity: 1;
  }
  .chart-parallel-exit-active {
    opacity: 0;
    transition: all 300ms;
  }
  .chart-parallel-exit-done {
    opacity: 0;
  }
}


