.fold-content-ctn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin: 0 55px 0 55px;
    border: 0px solid white;
    border-radius: 10px;
    padding: 5px 15px;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
    color: rgb(168, 154, 154);
        .calendar {
            align-items: center;
            text-align: center;
            width: 900px;
            height: 160px;
            margin-top: 0px;  
        }
        .reload-button {
            margin-top: 15px;
            margin-left: 10px;
            height: 100%;
            z-index: 2 
        }
        .character-select{
            align-items: center;
            text-align: center;
            padding-right: 10px;
            height: 150px;
            width: 450px;
        }
}


