.poi-frame-ctn {
  width: 180px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: #fff;

  .item-ctn {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .switch-ctn {
    span {
      display: block;
      font-weight: bold;
    }
  }

  .ant-radio-group {
    display: flex;
    justify-content: space-between;
    span {
      color: #fff !important;
    }
  }
}